<div class="container">
	<h2>Title</h2>
		<%= @category.name if @category %>
	  <h3>Description:</h3>  
	  <%= @category.description if @category%>
</div>
<div class="container">
	<a href="/category/<%=@category.id%>/post/new">Add New Post:</a>
	<h3>Posts:</h3>
		<% @post.each do |x| %>
			<a href="/post/<%=x.id%>"><%= x.title %></a>
		<% end %>
</div>